@tailwind preflight;
@tailwind components;
@tailwind utilities;


.btn {
@apply .bg-teal .text-white .font-bold .py-2 .px-4 .border-b-4 .border-teal-dark .rounded;
}

.btn:hover {
@apply .bg-teal-light .border-teal;
}

::-webkit-scrollbar-track
{

  @apply  .bg-grey-light;
}

::-webkit-scrollbar
{
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-thumb
{
  @apply .rounded-full .bg-grey;
}


code::-webkit-scrollbar-track
{

  @apply  .bg-red-light;
}

code::-webkit-scrollbar
{
  width: 8px;
  height: 8px;
}

code::-webkit-scrollbar-thumb
{
  @apply .rounded-full .bg-red;
}

.table-collapse {
    border-collapse: collapse;
}

#app table
 { @apply .w-full .text-left .table-collapse .overflow-x-scroll .my-5}
 

#app table thead tr th
 { @apply  .font-semibold .text-grey-darker .p-4 .bg-grey-lightest}

#app table tbody
 { @apply .align-baseline}

#app table tbody tr td:not(:last-child)
 { @apply .p-2 .py-4 .border-t .border-grey-light .font-mono .text-purple-dark .whitespace-no-wrap}

 #app table tbody tr td code
 { @apply .text-purple-dark}

#app table tbody tr td:last-of-type
 { 
   @apply .p-2 .py-4 .border-t .border-grey-lighter .text-grey-darker
 }